*{
    margin: 0;
    padding: 0;
    font-family: 'Sofia', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7) ), url(../assets/1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
    position: fixed;
    
}
.logo{
    width: 50px;
    cursor: pointer;
}
#btn{
    margin-left: 730px;
    width: 60px;
    cursor: pointer;
}
#btn:hover{
    cursor: pointer;
    background: aqua;
    color: #000;
    
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;

}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;

}

.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
}



.col h1{
    color: #fff;
    font-size: 100px;
}
.col p{
    color: #fff;
    font-size: 19px;
    line-height: 15px;
}
#btn2{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;

}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url();
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url(../assets/index.jpg); 
}
.card2{
    background-image: url(../assets/index.jpg);
}

.card:hover{
    transform: translate(-10px);
}

.card h5{
    color: #000;
    text-shadow: 0 0 5px #999 ;
    font-size: 30px;
}

.card p{
    text-shadow: 0 0 15px  #000;
    font-size: 15px;
    color: #000;
}

.col h5{
    font-size: 30px;
}

#btn2:hover{
    cursor: pointer;
    background: aqua;
    color: #000;
    
}