*{
    margin: 0;
    padding: o;
    font-family: 'Sofia', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7) ), url(../assets/1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
    position: fixed;
}
.logo{
    width: 50px;
    cursor: pointer;
}
#btn{
    width: 30px;
    cursor: pointer;
    margin-left: 45px;
    margin-right: 15px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;

}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;

}

.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
}

.col h1{
    color: #fff;
    font-size: 100px;
}
.col p{
    color: #fff;
    font-size: 13px;
    line-height: 15px;
}
#btn2{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;

}